<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VideoRanker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6CFF3E6F1CF8744E0075B21C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CFF3E881CF8744E0075B21C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6CFF3E931CF8744E0075B21C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
